Makefile
Makefile.in
*.lo
*.o
*.gmo
*.la
*.edj
.deps
.libs
/aclocal.m4
/arm-linux.cache
/build-stamp
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/debian/files
/debian/*.debhelper.log
/debian/*.debhelper
/debian/*.substvars
/debian/libisf-bin/
/debian/libisf-dbg/
/debian/libisf-dev/
/debian/tmp/
/idm/src/idm_core
/intltool-extract
/intltool-merge
/intltool-update
/isf.pc
/ism/data/pixmaps/isf_candidate_theme1.edj
/ism/data/pixmaps/isf_candidate_theme2.edj
/ism/demos/isf-demo-efl
/ism/extras/efl_panel/isf-panel-efl
/ism/m4/argz.m4
/ism/m4/libtool.m4
/ism/m4/ltdl.m4
/ism/m4/ltoptions.m4
/ism/m4/ltsugar.m4
/ism/m4/ltversion.m4
/ism/m4/lt~obsolete.m4
/ism/src/isf-log
/ism/src/isf-query-engines
/ism/src/scim
/ism/src/scim-helper-launcher
/ism/src/scim-launcher
/ism/src/scim_types.h
/libltdl/
/libtool
/ltmain.sh
/po/isfsetting_efl/POTFILES
/po/kbwizard_efl/POTFILES
/po/scim/POTFILES
/scim-gtkutils.pc
/scim.pc
/scim.spec
/stamp-h1
