[Unit]
Description=Start the input service framework panel
DefaultDependencies=no
After=local-fs.target xorg.service e17.service wm_ready.service

[Service]
ExecStart=/usr/bin/scim -d
Nice=5
Restart=always
RestartSec=2

[Install]
WantedBy=core-efl.target
