[Unit]
Description=Start the input service framework panel
After=enlightenment.service
Requires=enlightenment.service

[Service]
ExecStart=/usr/bin/scim -d
Environment="DISPLAY=:0.0" "HOME=%h"
Nice=5
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
