/* CSS for remote_input keyboard */
html {
}
body {
/*    background:#111121;*/
    background-image:url(imgs/remotekeyboard_remocon_bg.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    margin:0;
    margin-top:0px;
    padding:0;

}
div {
    height:100%;
}

.tb1 {
    border:5px;
    border-color:transparent;
    border-style:solid;
    border-collapse:collapse;
    width:100%;
    height:100%;
}
.tb1_thin_border {
    border:1px;
    border-color:transparent;
    border-style:solid;
    border-collapse:collapse;
    width:100%;
    height:100%;
}
.tv_table {
    border:1px;
    border-color:transparent;
    border-style:solid;
    border-collapse:collapse;
    color: #ababab /*{a-font-color}*/;
    width:100%;
    height:100%;
}

.tv_inner_table {
    border:3px;
    border-spacing: 0px 0px;
    border-color:transparent;
    border-style:solid;
    border-collapse:collapse;
    width:100%;
    height:100%;
}

.t_cell {
    border:5px;
    border-color: transparent;
    border-style:solid;
    text-align: center;
    background-repeat:no-repeat;
    background-size:auto 100%;
    background-position:center;
}
.t_cell_inner {
    border:5px;
    padding:0px 10px;
    border-color: transparent;
    border-style:solid;
    text-align: center;
    background-repeat:no-repeat;
    background-size:auto 100%;
    background-position:center;
}
.t_cell_thin_border {
    border:1px;
    border-color:transparent;
    border-style:solid;
    text-align: center;
    background-repeat:no-repeat;
    background-size:auto 100%;
    background-position:center;
}
.t_cell_vertical_align_bottom {
    vertical-align:bottom;
}
.t_cell_footer{
    height:10%;
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center center;
}

.t_cell_header{
    background-size:auto 100%;
    background-position:bottom right;
}
.t_cell_mousepad{
    background-size:100% 90%;
    background-position:top center;
}
.cell_width5 {
    width:5%;
}
.cell_width10 {
    width:10%;
}
.cell_width15 {
    width:15%;
}
.cell_width25 {
    width:25%;
}
.cell_width33 {
    width:33.33%;
}
.cell_width50 {
    width:50%;
}
.cell_width75 {
    width:75%;
}
.cell_height5 {
    height:5%;
}
.cell_height7 {
    height:7%;
}
.cell_height10 {
    height:10%;
}
.cell_height13 {
    height:13%;
}
.cell_height15 {
    height:15%;
}
.cell_height18 {
    height:18%;
}
.cell_height20 {
    height:20%;
}
.cell_height25 {
    height:25%;
}
.cell_height40 {
    height:40%;
}
.cell_height50 {
    height:50%;
}
#entry {
    overflow:hidden;
    width:90%;
    font-size:160%;
    background-repeat:no-repeat;
    background:             #42a02e2 /*{a-entry-background-color}*/;
    color:                  black /*{a-font-color}*/;
    text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #111 /*{a-body-shadow-color}*/;
    font-weight: normal;
    border:1px solid #919191;
}
.visible {
    display:block;
}
.invisible {
    display:none;
}

.logo {
    background:url(imgs/remote_keyboard_logo.png);
    background-size:95% auto;
    background-repeat:no-repeat;
    background-position:center top;
}
.air_input_mode {
    background:url(imgs/air_bt_pressed.png);
    background-size:auto 100%;
    background-repeat:no-repeat;
    background-position:center top;
}
.type_a {
    background:url(imgs/a_bt_pressed.png);
    background-size:auto 100%;
    background-repeat:no-repeat;
    background-position:center top;
}
.type_b {
    background:url(imgs/b_bt_pressed.png);
    background-size:auto 100%;
    background-repeat:no-repeat;
    background-position:center top;
}
.type_c {
    background:url(imgs/c_bt_pressed.png);
    background-size:auto 100%;
    background-repeat:no-repeat;
    background-position:center top;
}
.reset_bt {
    background:url(imgs/reset_bt_pressed.png);
    background-size:auto 100%;
    background-repeat:no-repeat;
    background-position:center top;
}
.volume_up {
	background:url(imgs/volume_up.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}
.volume_up:active{
    background:url(imgs/volume_up_pressed.png);
    background-size:auto 100%;
    background-repeat:no-repeat;
    background-position:center;
}

.volume_down {
	background:url(imgs/volume_down.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.volume_down:active{
	background:url(imgs/volume_down_pressed.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.channel_down {
	background:url(imgs/channel_down.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.channel_down:active{
	background:url(imgs/channel_down_pressed.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.channel_up {
	background:url(imgs/channel_up.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.channel_up:active{
	background:url(imgs/channel_up_pressed.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.power {
	background:url(imgs/power.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.power:active{
	background:url(imgs/power_pressed.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.mute {
	background:url(imgs/mute.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.mute:active{
	background:url(imgs/mute_pressed.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.chlist {
	background:url(imgs/chlist.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.chlist:active{
	background:url(imgs/chlist_pressed.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.exit {
	background:url(imgs/exit.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.exit:active{
	background:url(imgs/exit_pressed.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.source {
	background:url(imgs/source.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.source:active{
	background:url(imgs/source_pressed.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.return {
	background:url(imgs/return.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.return:active{
	background:url(imgs/return_pressed.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.menu {
	background:url(imgs/menu.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.menu:active{
	background:url(imgs/menu_pressed.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.info {
	background:url(imgs/info.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.info:active{
	background:url(imgs/info_pressed.png);
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:center;
}

.back {
	background:url(imgs/back.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
}

.back:active{
	background:url(imgs/back_pressed.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
}

.apps {
	background:url(imgs/apps.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
}

.apps:active{
	background:url(imgs/apps_pressed.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
}

.modeswitcher_to_mouse {
	background:url(imgs/modeswitcher_to_mouse.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
}
.modeswitcher_to_mouse:active{
    background:url(imgs/modeswitcher_pressed.png);
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
}
.modeswitcher_to_tv {
	background:url(imgs/modeswitcher_to_tv.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
}
.modeswitcher_to_tv:active {
    background:url(imgs/modeswitcher_pressed.png);
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
}
.mouse_panel {
	background:url(imgs/mouse_panel_bg.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
}
.air_panel {
    background:url(imgs/air_panel_bg.png);
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center;
}
.channel {
	background:url(imgs/channel.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
}

.volume {
	background:url(imgs/volume.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center;
}

.cell_gray_font{
    font-size:180%;
    color: #dedede /*{a-font-color}*/;
    font-weight: bold;
    position : 20% center;
}
