Source: isf
Section: libs
Priority: standard
Maintainer: Sehwan Park <sehwan@samsung.com>, Haifeng Deng <haifeng.deng@samsung.com>, Hengliang Luo <hl.luo@samsung.com>, Shuo Liu <shuo0805.liu@samsung.com>, Jihoon Kim <jihoon48.kim@samsung.com>, Yanjie Hu <yanjie.hu@samsung.com>
Uploaders: Ji-hoon Lee <dalton.lee@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, pkg-config, libelm-dev, libglib2.0-dev,
 libappcore-efl-dev, libslp-utilx-dev, libslp-setting-dev, libui-gadget-dev, libheynoti-dev,
 libecore-dev, libevas-dev, libx11-dev, dlog-dev
Standards-Version: 3.7.2
Homepage: http://www.scim-im.org

Package: libisf-bin
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Input Service Framework
 An input service framework for TIZEN. It is based on SCIM 1.4.7 and 
 has been enhanced to fit in a mobile environment such as supporting softkeyboard
Version: 2.3

Package: libisf-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libisf-bin, libelm-dev, libglib2.0-dev
Description: ISF header files and static libraries
 This package contains ISF header files and static libraries for ISE development.

Package: libisf-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Input Service Framework (unstripped)
 This package contains ISF unstripped files.
